<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="pasajero">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="pasajero.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="pasajero.lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Direccion</ion-label>
      <ion-input type="text" [(ngModel)]="pasajero.direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Destino</ion-label>
      <ion-input type="number" [(ngModel)]="pasajero.destino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo de Pago</ion-label>
      <ion-input type="email" [(ngModel)]="pasajero.tipodepago"></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" color="success" (click)="updatePersona()">
    <ion-icon name="save" slot="start">Update</ion-icon>
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deletePersona()">
    <ion-icon name="trash" slot="start">Delete</ion-icon>
  </ion-button>
</ion-content>  
